@import "tailwindcss";
@config "../tailwind.config.ts";
@font-face {
  font-family: "titlefont";
  src: url("/titlefont.otf") format("opentype");
}
@font-face {
  font-family: "Selection" ;
  src: url("/selection.ttf") format("truetype");
}
